/* sandbox responsive breakpoint */

/*

xs  >=480px
sm  >=576px
md  >=768px
lg  >=991px
xl  >=1199px
2xl >=1499px

*/

@media (max-width: 1499px) {
  
      .Customers_details {
    max-width: 1499;
  }
  
}

@media (max-width: 1199px) {
  /* recent-project section*/
  .recent_projects_img img {
    height: 380px;
    max-width: 480px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    height: auto;
    gap: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: column;
  }
  .recent_projects_img {
    margin: 0 15px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* happy customer */
  .Customers_details {
    max-width: 1320px
  }
  .customer_mainbox-1,
  .customer_mainbox-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .customer_box1,
  .customer_box2,
  .customer_box3,
  .customer_box4,
  .customer_box5,
  .customer_box6 {
    width: 90%;
    height: auto;
    margin-left: 20px;
    margin-top: 25px;
  }
  /* .container {
    padding-inline: 0;
    max-width: 1199px;
  } */
  /* .craft-text h1{
    text-wrap: nowrap;
    } */
}

@media (max-width: 991px) {
  /* Header start */
  .container {
    padding-inline: 0;
    max-width: 991px;
    margin: auto;
  }
  .navbar {
    width: 100%;
    height: 74px;
    margin: 0;
    margin-top: 0;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0;
  }
  .nav-link {
    display: none;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0;
  }
  .socil-icon {
    margin-left: auto;
    margin-right: 20px;
  }
  .socil-icon a {
    text-align: right;
    font-size: 20px;
    flex-direction: column;
    margin-right: 10px;
    padding-left: 20px;
    margin: 0;
    flex-wrap: wrap;
  }
  .mobile-btn {
    display: block;
    margin-right: 10px;
  }

  /* smart section start*/
  .craft-text h1 {
    max-width: 600px;
    color: #343f52;
    font-size: 38px;
    margin: auto;
    display: flex;
    text-align: center;
  }
  .craft-img img {
    height: auto;
    width: 100%;
    padding-top: 100px;
    object-fit: cover;
    border-radius: 20px;
  }
  /* service section start */
  .service_main {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 100px 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .service_card_main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    max-width: 1100px;
  }
  .service_text_box {
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .service_text {
    margin-left: 100px;
    max-width: 720px;
    margin-top: 20px;
  }
  .service_text h3 {
    font-size: 38px;
    font-weight: bold;
    color: #343f52;
  }
  .service_text :nth-child(2) {
    max-width: 900px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 33px;
    font-size: 26px;
    color: #343f52b6;
  }

  .service_text :nth-child(3) {
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #343f52;
  }

  .service_text.button {
    margin-top: 20px;
    display: flex;
    justify-content: left;
  }
  /* Community section start */
  .community_main {
    max-width: 1320px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    display: flex;
  }
  .community {
    order: 2;
    margin: auto;
  }

  .community {
    height: auto;
    max-width: 700px;
    margin-top: 50px;
  }
  .community_text {
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    text-wrap: wrap;
    display: flex;
  }

  .community_text h3 {
    margin-left: 30px;
    color: black;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 15px;
  }

  .community_text :nth-child(2) {
    font-size: 22px;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.596);
    margin-bottom: 20px;
    line-height: 33px;
    font-weight: 600;
  }
  .community_text :nth-child(3) {
    font-size: 18px;
    margin-left: 30px;
    font-weight: 500;
    color: #6e7382;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .detail {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 615px;
    height: auto;
    padding: 0 15px;
    margin: auto ;
    order: 1;
  }

  .projects {
    max-width: auto;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(7, 3, 3, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .projects i {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 15px;
    transform: translateY(-50%);
  }
  .customers {
    max-width: auto;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(7, 3, 3, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .customers i {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 25px;
    transform: translateY(-50%);
  }

  .employees {
    max-width: auto;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(7, 3, 3, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
    justify-content: center;
    position: relative;
  }

  .employees i {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 25px;
    transform: translateY(-50%);
  }

  .awards {
    max-width: auto;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(7, 3, 3, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .awards i {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 25px;
    transform: translateY(-50%);
  }

  /* Our Recent Projects start */
  .recent_title {
    font-size: 38px;
    color: rgb(46, 55, 70);
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
  }

  .recent_projects_img img {
    height: 280px;
    max-width: 380px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    height: auto;
    gap: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: column;
  }
  .recent_projects_img {
    margin: 0 15px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow_left {
    height: 40px;
    width: 40px;
  }
  .arrow_right {
    height: 40px;
    width: 40px;
  }
  /* Have Perfect Control start */

  .perfect_control {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: space-between;
    margin-bottom: 160px;
    gap: 50px;
  }

  .perfect_control_img {
    margin: auto;
    padding: 0 35px;
    margin-top: 50px;
  }
  .perfect_control_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }

  .perfect_control_text {
    max-width: 70%;
    height: auto;
    margin: auto;
  }
  .tick_mark {
    text-align: left;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
  }
  .tick_mark i {
    color: #6e6bc1;
    background-color: #6e6bc149;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
    text-align: center;
    padding: 6px;
  }

  /* Why Choose Us section start */
  .business_process {
    max-width: 1320px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 160px;
  }

  .business_text {
    margin-top: 50px;
    padding: 0 35px;
    order: 2;
    margin: auto;
  }

  .business_img {
    margin: auto;
    padding: 0 35px;
    margin-top: 50px;
  }
  .business_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  .business_text {
    max-width: 75%;
    margin: auto;
  
}
/* Happy Customers section start */
.Customers_details {
    max-width: 90%;
  }
  .Customers_title h3 {
    font-size: 32px;
  }
  .child_box1 {
    padding: 25px;
  }
  .child_box1 p {
    font-size: 16px;
    line-height: 28px;
  }
  .customer_box1,
  .customer_box2,
  .customer_box3,
  .customer_box4,
  .customer_box5,
  .customer_box6 {
    width: 100%;
    height: auto;
    margin: 20px auto;
    height: auto;
  }

}

@media (max-width: 768px) {
 /* smart section */
  .craft-text h1 {
    max-width: 600px;
    color: #343f52;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .craft-text p {
    width: auto;
    font-size: 24px;
    padding:0  50px;
    margin-bottom: 35px;
  }
 
  /* service section start  */
  .service_main {
  display: flex;
  padding: 50px 0;
}
.service_card_main {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: column; */
  justify-content: center;
  justify-content: space-between;
  max-width: 100%;
}
.service_text {
  margin-left:0;
  margin-top: 50px;
}
/*Community section start */
.community {
  height: auto;
  max-width: 1320px;
  margin-top: 30px;
  padding: 0 15px;
}
.community_text {
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: wrap;
  display: flex;
  padding: 0 20px;
}
.community_text h3 {
  margin-left: 0;
}
.community_text :nth-child(2) {
  margin-left: 0;
 
}
.community_text :nth-child(3) {
  margin-left: 0;
  
}

.detail {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  margin:0 auto;
  padding: 0;
}

/*Our Recent Projects */
.recent_projects_img {
  max-width: 100%;
  display: flex;
  height: auto;
  gap: 20px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0;
}

.perfect_control_text {
  height: auto;
  /* max-width: 1120px; */
  margin:auto;
  padding-right: 30px;
  padding-left: 30px;
  
}
/* Why Choose Us section start */
.business_text {
   max-width: 100%;
  margin:0;
  padding: 0 35px;
}
/* Happy Customers section start */
/* .customer_box1,
  .customer_box2,
  .customer_box3,
  .customer_box4,
  .customer_box5,
  .customer_box6 {
    width: 100%;
    margin: 20px auto;
    height: auto;
  } */
 .Customers_title h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .child_box1 p {
    font-size: 15px;
  }
  .person_img img {
    width: 60px;
    height: 60px;
  }
  .data_1 i {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .craft-text h1 {
    max-width: 700px;
    color: #343f52;
    font-size: 36px;
    margin-inline: 1rem;
    text-align: center;
  }

  .craft-text p {
    max-width: 600px;
    font-size: 24px;
    /* font-size: 35px; */
  }
  .container {
    padding-inline: 0;
    margin: 0;
    max-width: 576px;
  }
   /* service section start  */
  .service_main {
  display: flex;
  padding: 50px 0;
}
.service_card_main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  margin: 0px 20px;
}
.card-3 {
  margin-left: 0px;
  order: 4;
}
.card-4 img {
  margin-left: 0px;
}
.service_text {
  margin-left:10px;
  margin-top: 50px;
}
/* Happy Customers section start */
.Customers_title h3 {
    font-size: 24px;
  }
  .child_box1 {
    padding: 20px;
  }
  .child_box1 p {
    font-size: 14px;
  }
  .person_data h4 {
    font-size: 16px;
  }
  .person_data p {
    font-size: 14px;
  }
}
/* join our community */
/*Our Recent Projects */
 

.recent_projects_img :nth-child(1) {
  width: 100%;
  display: flex;
  height: auto;
  gap: 30px;
  border-radius: 10px;
  flex-wrap: wrap;
  object-fit: cover;
}


@media (max-width: 480px) {
  .socil-icon a {
    display: none;
  }

  .container {
    padding-inline: 0;
    margin: 0;
    max-width: 480px;
  }

  .craft-text h1 {
    max-width: 600px;
    color: #343f52;
    font-size: 34px;
  }
  .craft-text p {
    max-width: 450px;
    font-size: 24px;
    /* font-size: 35px; */
    margin-inline: 20px;
  }
/* Happy Customers section start */

  .customer_box1,
  .customer_box2,
  .customer_box3,
  .customer_box4,
  .customer_box5,
  .customer_box6 {
    width: 95%;
    height: auto;
    padding: 0 10px;
  }
  .person_img {
    flex-direction: column;
    align-items: center;
  }
  .person_data {
    padding-left: 0;
    text-align: center;
    padding-top: 10px;
  }
  .data_1 {
    padding-left: 0;
  }
}
